Source: ros-indigo-moveit-goal-builder
Section: misc
Priority: extra
Maintainer: Justin Huang <jstn@cs.washington.edu>
Build-Depends: debhelper (>= 9.0.0), python-catkin-pkg, ros-indigo-actionlib, ros-indigo-catkin, ros-indigo-geometry-msgs, ros-indigo-moveit-core, ros-indigo-moveit-msgs, ros-indigo-roscpp, ros-indigo-rospy, ros-indigo-shape-msgs, ros-indigo-tf
Homepage: http://wiki.ros.org/moveit_goal_builder
Standards-Version: 3.9.2

Package: ros-indigo-moveit-goal-builder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-actionlib, ros-indigo-geometry-msgs, ros-indigo-moveit-core, ros-indigo-moveit-msgs, ros-indigo-roscpp, ros-indigo-rospy, ros-indigo-shape-msgs, ros-indigo-tf
Description: The moveit_goal_builder package
